body{
   background-color: #bfeafd;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
}

.choose{
   position:fixed;
   top:20px;
   font-family: 'Roboto Slab', serif;
   font-weight: 800;
   border-radius: 20px;
}

.weather-app {
   display: flex;
   justify-content: center;
   align-items: center;
}

.weather-app__body {
   background-color: #d4eeff;
   box-shadow: 0 0 10px 1px rgb(166, 188, 194);
   border-radius: 25px;
   width: 20rem;
   height: 30rem;
}

.info {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   color: #6babc9;
}
.info__city {
   flex:1 1 15%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   font-weight: 800;
   font-size: 1.8rem;
}
.info__image {
   flex:1 1 35%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.info__temp {
   flex:1 1 10%;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   font-weight: 800;
   font-size: 2.65rem;
}

.info__description{
   flex: 1 1 10%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 1.5rem;
   font-weight: 400;
}

.info__additional {
   flex:1 1 30%;
   display: flex;
   justify-content: space-between;
   padding: 0 1rem;
   text-align: center;
}

.additional-info {
   border-top: 1px solid #6babc9;

}
.additional-info__wind {
   flex: 33.33%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.additional-info__title{
   justify-content: flex-start;
   color:#95a2a8;
   font-size: 0.8rem;
}

.additional-info__wind-value {
   padding: 2rem 0 0 0;
   font-size: 1.2rem;
}

.additional-info__humidity {
   flex:  33.33%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.additional-info__humidity-value {
   padding: 2rem 0 0 0;
   font-size: 1.2rem;
}

.additional-info__feels-like {
   flex: 33.33%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.additional-info__feels-like-value {
   padding: 2rem 0 0 0;
   font-size: 1.2rem;
}